.contentContainer {
  display: flex;
  flex-direction: row;
}

.controls {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100vh;
}

.download {
  margin-top: 2rem;
}

.divContainer {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.textFormatting {
  width: 860px;
  font-family: "NunitoSans",Arial,Helvetica,sans-serif;
  font-size: 16px;
  line-height: 1.75; 
  color: #101112;
  padding: 2rem;
}

.textFormatting ins {
  background-color: #28ebcf;
}

.textFormatting del {
  color: #f79880;
}